@import './base.css';

/* DALI FONT: font-family: 'Cinzel Decorative', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

/* PICASSO FONT: font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* MAGRITTE FONT: font-family: 'Abril Fatface', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* BOSCH FONT: font-family: 'Uncial Antiqua', serif; */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

/* MICHELANGELO FONT: font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* MONDRIAN FONT: font-family: 'Archivo Black', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* TARSILA DO AMARAL FONT: font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

#app {
  margin: 0 auto;
  padding: 2 0rem;
  font-weight: normal;
  min-height: 100vh;
}

header {
  line-height: 1.5;
  width: 100vw;
  height: 10vh;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 1.5rem;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}




